<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if errors.password is defined %}
        <p>{{ errors.password }}</p>
    {% else %}
        <p>login et mot de passe corrects</p>
    {% endif %}
</body>
</html>